/*
 * Skin: Skazanie-Light
 * ------------
 */

body.skin-skazanie-light {
  background:url(../../../../servimg/fon.jpg) repeat fixed;
}

.skin-skazanie-light .dropdown-menu.user-min {
  min-width:130px;
  width:130px!important;
}
.skin-skazanie-light .user-min li {
  border-top: 1px solid #f4f4f4;
}
.skin-skazanie-light .user-min li:first-child {
  border-top: none;
}

@media (max-width: 991px) {
  .skin-skazanie-light .content-header > .breadcrumb {
    background: #e7e3b5;
  }
}
.skin-skazanie-light .breadcrumb {
  color:#333;
  float:none;
  clear:both;
  position:relative;
  top:0;
  right:0;
}
.skin-skazanie-light .breadcrumb > .active {
  /*font-style:italic;*/
  color:#333;
}
.skin-skazanie-light .breadcrumb a {
  color:#62612b!important;
}
.skin-skazanie-light .breadcrumb a:hover {
  text-decoration:underline!important;
}
.skin-skazanie-light .content-wrapper {
  background:none;
}
.skin-skazanie-light .content-header > .breadcrumb > li + li::before {
  color:#333;
}

.skin-skazanie-light .main-header .navbar {
  background-color: #c09256;
}
.skin-skazanie-light .main-header .navbar .nav > li > a {
  color: #ffffff;
}
.skin-skazanie-light .main-header .navbar .nav > li > a:hover,
.skin-skazanie-light .main-header .navbar .nav > li > a:active,
.skin-skazanie-light .main-header .navbar .nav > li > a:focus,
.skin-skazanie-light .main-header .navbar .nav .open > a,
.skin-skazanie-light .main-header .navbar .nav .open > a:hover,
.skin-skazanie-light .main-header .navbar .nav .open > a:focus,
.skin-skazanie-light .main-header .navbar .nav > .active > a {
  background: rgba(0, 0, 0, 0.1);
  color: #f6f6f6;
}
.skin-skazanie-light .main-header .navbar .sidebar-toggle {
  color: #ffffff;
}
.skin-skazanie-light .main-header .navbar .sidebar-toggle:hover {
  color: #f6f6f6;
  background: rgba(0, 0, 0, 0.1);
}
.skin-skazanie-light .main-header .navbar .sidebar-toggle {
  color: #fff;
}
.skin-skazanie-light .main-header .navbar .sidebar-toggle:hover {
  /*background-color: #e08e0b;*/
  background: rgba(0, 0, 0, 0.1);
}
@media (max-width: 767px) {
  .skin-skazanie-light .main-header .navbar .dropdown-menu li.divider {
    background-color: rgba(255, 255, 255, 0.1);
  }
  /*.skin-skazanie-light .main-header .navbar .dropdown-menu li a {
    color: #fff;
  }*/
  .skin-skazanie-light .main-header .navbar .dropdown-menu li a:hover {
    /*background: #e08e0b;*/
    background: #e7e3b5;
  }
}
.skin-skazanie-light .main-header .logo {
  background-color: #c09256;
  color: #ffffff;
  border-bottom: 0 solid transparent;
}
.skin-skazanie-light .main-header .logo:hover {
  /*background-color: #f39a0d;*/
  background:#ac834d;
}
.skin-skazanie-light .main-header li.user-header {
  /*background-color: #f39c12;*/
  background-color:#e7e3b5;
}
.skin-skazanie-light .main-header li.user-header p {
  /*text-shadow: 1px 1px 2px #444;*/
  color:#333!important;
}
.skin-skazanie-light .content-header {
  background: transparent;
}
.skin-skazanie-light .wrapper {
  background: none;
}
.skin-skazanie-light .main-sidebar,
.skin-skazanie-light .left-side {
  /*background-color: #f9fafc;*/
  background: #e7e3b5;
}
.skin-skazanie-light .main-sidebar {
  /*border-right: 1px solid #d2d6de;*/
  /*border-right: 1px solid #62612b;*/
}
.skin-skazanie-light .user-panel > .info,
.skin-skazanie-light .user-panel > .info > a {
  color: #333;
}
.skin-skazanie-light .sidebar-menu > li {
  -webkit-transition: border-left-color 0.3s ease;
  -o-transition: border-left-color 0.3s ease;
  transition: border-left-color 0.3s ease;
}
.skin-skazanie-light .sidebar-menu > li.header {
  color: #848484;
  /*background: #f9fafc;*/
}
.skin-skazanie-light .sidebar-menu > li > a {
  border-left: 3px solid transparent;
  font-weight: 600;
}
.skin-skazanie-light .sidebar-menu > li:hover > a,
.skin-skazanie-light .sidebar-menu > li.active > a {
  /*color: #000000;*/
  color: #fff;
  /*background: #f4f4f5;*/
  /*background: #e7e3b5;*/
  /*background: #fff;*/
  background:#c09256;
}

.skin-skazanie-light .sidebar-menu .treeview.menu-open>a {
  background:#c09256;
}
.skin-skazanie-light .sidebar-menu .treeview.menu-open>a>span, .skin-skazanie-light .sidebar-menu .treeview.menu-open>a>i {
  color: #fff;
}
.skin-skazanie-light .sidebar-menu > li.active {
  border-left-color: #f39c12;
}
.skin-skazanie-light .sidebar-menu > li.active > a {
  font-weight: 600;
}
.skin-skazanie-light .sidebar-menu > li > .treeview-menu {
  /*background: #f4f4f5;*/
  /*background:#fff;*/
  background: #e7e3b5;
}
.skin-skazanie-light .sidebar a {
  color: #333;
}
.skin-skazanie-light .sidebar a:hover {
  text-decoration: none;
}
.skin-skazanie-light .sidebar-menu .treeview-menu > li > a {
  /*color: #777777;*/
  color:#333;
}
.skin-skazanie-light .sidebar-menu .treeview-menu > li.active > a,
.skin-skazanie-light .sidebar-menu .treeview-menu > li > a:hover {
  color: #000000;
}
.skin-skazanie-light .sidebar-menu .treeview-menu > li.active > a {
  font-weight: 600;
}
.skin-skazanie-light .sidebar-form {
  border-radius: 3px;
  border: 1px solid #d2d6de;
  margin: 10px 10px;
}
.treeview.menu-open>a {
  background:#fff;
}
.skin-skazanie-light .sidebar-form input[type="text"],
.skin-skazanie-light .sidebar-form .btn {
  box-shadow: none;
  background-color: #fff;
  border: 1px solid transparent;
  height: 35px;
}
.skin-skazanie-light .sidebar-form input[type="text"] {
  color: #666;
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
}
.skin-skazanie-light .sidebar-form input[type="text"]:focus,
.skin-skazanie-light .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  background-color: #fff;
  color: #666;
}
.skin-skazanie-light .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  border-left-color: #fff;
}
.skin-skazanie-light .sidebar-form .btn {
  color: #999;
  border-top-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0;
}
@media (min-width: 768px) {
  .skin-skazanie-light.sidebar-mini.sidebar-collapse .sidebar-menu > li > .treeview-menu {
    border-left: 1px solid #d2d6de;
  }
}

.skin-skazanie-light .box-header.with-border {
  border-bottom:1px solid #62612b;
}
